<% layout('/layouts/boilerplates') %>
<body>
    <h3>All Listings</h3>
    <ul>
        <% for(let listing of allListings) { %>
        <li> <a href="/listings/<%= listing._id %>"> <%= listing.title %> </li> 
                    <li> <a href="/listings/<%= listing._id %>"> <%= listing.title %> </li> 

                                <li> <a href="/listings/<%= listing._id %>"> <%= listing.title %> </li> 

                                            <li> <a href="/listings/<%= listing._id %>"> <%= listing.title %> </li> 

                                                        <li> <a href="/listings/<%= listing._id %>"> <%= listing.title %> </li> 

                                                                    <li> <a href="/listings/<%= listing._id %>"> <%= listing.title %> </li> 

                                                                                <li> <a href="/listings/<%= listing._id %>"> <%= listing.title %> </li> 

                                                                                            <li> <a href="/listings/<%= listing._id %>"> <%= listing.title %> </li> 

                                                                                                        <li> <a href="/listings/<%= listing._id %>"> <%= listing.title %> </li> 

                                                                                                                    <li> <a href="/listings/<%= listing._id %>"> <%= listing.title %> </li> 

            <!-- we previously did listing._id and it didn't worked. -->
        <% } %>
    </ul>
    <form method="GET" action="/listings/new">
        <button>Create New Listing</button>
    </form>
</body>
    