<% layout('/layouts/boilerplates') %>
<body>
    <h3>All Listings</h3>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 g-4">
        
            <% for(let listing of allListings) { %>

            <div class="card col" style="width: 18rem;">
  <img class="card-img-top" src="<%= listing.image %>" alt="Card image cap">
  <div class="card-body">
    <b><h5 class="card-title"><%= listing.title %></h5></b>
    <p class="card-text"><%= listing.description %></p>
    <p class="card-text">Rs <%= listing.price.toLocaleString("en-IN") %>/night</p>

    <a href="/listings/<%= listing._id %>" class="btn btn-primary">View Details</a>
  </div>
</div>

            
       <% } %>       
      
        <!-- <li> <a href="/listings/< % = listing._id % >"> < % = listing.title %> </li>  -->
<!-- we previously did listing._id and it didn't worked. -->
    </div>
    <form method="GET" action="/listings/new">
        <button>Create New Listing</button>
    </form>
</body>
    